/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
html, body {
  height: 100%;
  background-color: #73c4c6;
}

.homepage-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height:100%;
  color:white;
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;
  transition-delay: 1s;
  transition-timing-function: ease-in;
}

#hello {
  padding: 0;
  margin:0;
  font-size: 50px;
  font-weight: bold;  
}
.welcome-description {
  font-size: 30px;
}

.image{
  height:30vh;
  margin-right:25px;
  padding:5px;
  border:2px solid white;
  transition-delay: 3s;
  transition-timing-function: ease;
}

#footer {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
}